@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

:root {
    --dotnet-purple: #512bd4;
    --dotnet-purple-hover: #4411BB;
    --dotnet-purple-border-hover: #3311BB;
}

.bg-dotnet {
    background-color: var(--dotnet-purple) !important;
}

.btn-dotnet {
    color: #fff;
    background-color: var(--dotnet-purple);
    border-color: var(--dotnet-purple);
}

    .btn-dotnet:hover {
        color: #fff;
        background-color: var(--dotnet-purple-hover);
        border-color: var(--dotnet-purple-border-hover);
    }

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

.breadcrumb {
    border-radius: 0rem;
}

/* General */

.nofocus:focus {
    outline: none;
}

/* Search */

.modal-dialog.modal-full {
    max-width: unset !important;
    margin-top: 30px auto;
    margin-bottom: 30px auto;
    margin-left: 5%;
    margin-right: 5%;
}

.search-results {
    overflow-y: auto;
    max-height: 400px;
}

.search-result-row {
    color: var(--color-text-primary);
    border-radius: 0.25rem;
    padding: 0.25rem;
    padding-left: 0.5rem;
    background-color: transparent;
    white-space: nowrap;
    cursor: pointer;
}

    .search-result-row.selected {
        color: white;
        background-color: #007bff;
    }

/* Code */

.syntax-view {
    display: block;
    font-size: larger;
    background-color: #e9ecef;
    border-radius: 0.25rem;
    padding: 1rem;
}

.syntax-view pre {
    margin-bottom: 0;
    color: black;
}

.syntax-view .keyword {
    color: blue;
}

.syntax-view .punctuation {
    color: black;
}

.syntax-view .string {
    color: #a31515;
}

.syntax-view .number {
    color: #3876c2;
}

.syntax-view .class a {
    color: #2b91af
}

.syntax-view .delegate a {
    color: #2b91af
}

.syntax-view .enum a {
    color: #2b91af
}

.syntax-view .struct a {
    color: #2b91af
}

.syntax-view .interface a {
    color: #2b91af
}

.syntax-view .reference a {
    color: black;
}

.syntax-view .reference-current {
    font-weight: 800
}

@media (prefers-color-scheme: dark) {
    .syntax-view {
        background-color: rgb(40, 40, 40);
    }

        .syntax-view pre {
            color: rgb(220, 220, 220);
        }

        .syntax-view .keyword {
            color: rgb(86, 156, 214);
        }

        .syntax-view .punctuation {
            color: rgb(220, 220, 220);
        }

        .syntax-view .string {
            color: rgb(214, 157, 133);
        }

        .syntax-view .number {
            color: rgb(181, 206, 168);
        }

        .syntax-view .class a {
            color: rgb(78, 201, 176);
        }

        .syntax-view .delegate a {
            color: rgb(78, 201, 176);
        }

        .syntax-view .enum a {
            color: rgb(184, 215, 163);
        }

        .syntax-view .struct a {
            color: rgb(134, 198, 145);
        }

        .syntax-view .interface a {
            color: rgb(184, 215, 163);
        }

        .syntax-view .reference a {
            color: rgb(220, 220, 220);
        }
}

/* Version table */

.fx-version {
    border-radius: .5rem;
    padding-left: .5rem;
    padding-right: .5rem;
    padding-top: .10rem;
    padding-bottom: .10rem;
    font-size: smaller;
    text-wrap: none;
}

.fx-version.active {
    background-color: #007bff !important;
}

    .fx-version.active a:link, .fx-version.active a:visited {
        color: white !important;
    }

.fx-version.fx-version-inbox {
    background-color: #28a745;
}

    .fx-version.fx-version-inbox a:link, .fx-version.fx-version-inbox a:visited {
        color: white;
    }

.fx-version.fx-version-package {
    background-color: #ffc107;
}

    .fx-version.fx-version-package a:link, .fx-version.fx-version-package a:visited {
        color: black;
    }

.popover {
    max-width: 100%;
}