<div class="modal @(IsOpen ? "show" : "")" tabindex="-1" role="dialog" @onclick="Close">
    <div class="modal-dialog modal-full" role="document" @onclick:stopPropagation="true">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Search</h5>
                <button type="button" class="close" aria-label="Close" @onclick="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input @ref="_inputElement" type="text" spellcheck="false" class="form-control search-input"
                       @bind="SearchText" @bind:event="oninput"
                       @onkeydown="SearchTextKeyDown" />

                @if (SearchResults.Length > 0)
                {
                    <ul class="list-unstyled search-results mt-2">
                        @foreach (var result in SearchResults)
                        {
                            var selectedClass = result == SelectedResult ? "selected" : "";
                            <li class="search-result-row @selectedClass" @onclick="_ => SelectAndAccept(result)">
                                <Glyph Kind="@result.Kind.GetGlyph()" />&nbsp;@result.GetFullName()
                            </li>
                        }
                    </ul>
                }
            </div>
        </div>
    </div>
</div>

@if (IsOpen)
{
    <div class="modal-backdrop fade show"></div>
}
