@typeparam TItem;

@for (var i = 0; i < Items.Length; i++)
{
    if (i == Limit && !_showMore)
    {
        var remaining = (Items.Length - Limit).ToString("N0");
        <li><button class="btn btn-outline-secondary mt-3" @onclick="() => _showMore=true">Show @remaining remaining items</button></li>
        break;
    }

    @ChildContent(Items[i])
}