@using ApisOfDotNet.Services
@inherits LayoutComponentBase
@inject CatalogService CatalogService

<nav class="navbar navbar-expand-lg navbar-dark bg-dotnet">
    <a class="navbar-brand" href="/">.NET API Catalog</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li>
                <NavLink class="nav-link" href="@Link.ForCatalog()" Match="NavLinkMatch.All">
                    <span class="oi oi-folder pr-1"></span> Browse
                </NavLink>
            </li>
            <li>
                <a class="nav-link" href="javascript:window.showSearch()">
                    <span class="oi oi-magnifying-glass pr-1"></span> Search
                </a>
            </li>
            <li>
                <NavLink class="nav-link" href="https://github.com/dotnet/apisof.net">
                    <span class="oi oi-code pr-1"></span> Source
                </NavLink>
            </li>
        </ul>
        <ul class="navbar-nav">
            <li>
                <NavLink class="nav-link" href="/upgrade-planner">
                    <span class="oi oi-cloud-download"></span> .NET Upgrade Planner
                </NavLink>
            </li>
        </ul>
    </div>
</nav>

<div class="nofocus" @ref="_bodyDiv" @onkeydown="KeyDown" tabindex="0">
    @Body

    <ApiSearch @ref="_apiSearch" OnClose="() => _bodyDiv.FocusAsync()"></ApiSearch>
</div>

<hr />

@if (CatalogJobInfo is not null)
{
    <div class="container-fluid">
        @if (CatalogJobInfo.Success)
        {
            <span class="mr-1 oi oi-circle-check text-success"></span>
        }
        else
        {
            <span class="mr-1 oi oi-circle-x text-danger"></span>
        }

        @if (string.IsNullOrEmpty(CatalogJobInfo.DetailsUrl))
        {
            @CatalogJobInfo.Date.Date.ToShortDateString()
        }
        else
        {
            <a href="@CatalogJobInfo.DetailsUrl">@CatalogJobInfo.Date.Date.ToShortDateString()</a>
        }
    </div>
}

@code {
    private ElementReference _bodyDiv;
    private ApiSearch _apiSearch;

    public CatalogJobInfo CatalogJobInfo => CatalogService.JobInfo;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await _bodyDiv.FocusAsync();
    }

    private void KeyDown(KeyboardEventArgs e)
    {
        if (e.Key == "/")
        {
            if (_apiSearch.IsOpen)
                _apiSearch.Close();
            else
                _apiSearch.Open();
        }
        else if (e.Key == "Escape")
        {
            _apiSearch.Close();
        }
    }
}