@page "/catalog/{GuidText}"

@if (Api is null)
{
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-6 col-md-8 col-sm-10 mx-auto">
                <div class="alert alert-danger m-3">
                    Can't find an API with the ID '@GuidText'.
                </div>
            </div>
        </div>
    </div>
}
else
{
    <ApiDetails Api="Api.Value" ExtensionMethod="ExtensionMethod" BrowsingContext="BrowsingContext" />
}
