@page "/"

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">.NET API Catalog</h1>
        <p class="lead">The catalog contains <strong>@Statistics.NumberOfApis.ToString("N0")</strong> APIs.</p>

        <div class="btn-group" role="group">
            <a type="button" class="btn btn-lg btn-primary" href="/catalog">Browse</a>
            <button type="button" class="btn btn-lg btn-info" onclick="window.showSearch()">Search</button>
        </div>
    </div>
</div>
