@page "/upgrade-planner"

<div class="container-fluid">

    <div class="jumbotron mt-3">
        <h1 class="display-4">.NET Upgrade Planner</h1>
        <p class="lead">Understand your dependencies and plan your upgrades</p>
        <hr class="my-4">
        <p>
            The .NET Upgrade planner scans your binaries and informs you about usages of APIs that don't work
            cross platform, are no longer available, or have other issues. It supports planning upgrades from
            .NET Framework to .NET Core, or between versions of .NET Core.
        </p>
        <a class="btn btn-primary btn-lg" href="https://apisofdotnet.blob.core.windows.net/squirrel/NetUpgradePlannerSetup.exe" role="button">Download Beta</a>
        <p class="mt-3">
            <img src="img/NetUpgradePlanner.png" alt="Screenshot of .NET Upgrade Planner" />
        </p>
    </div>

</div>
