@page "/catalog"

<div class="container-fluid px-0">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><img height="16" width="16" src="/img/Database.svg" /> <a href="/catalog">Catalog</a></li>
        </ol>
    </nav>
</div>

<div class="container-fluid">

    <ul class="list-unstyled">
        <li>
            <img height="16" width="16" src="/img/Database.svg" /> <span class="font-weight-bold">Catalog</span>

            <ul class="list-unstyled pl-4">
                @foreach (var child in CatalogService.Catalog.RootApis.OrderBy(x => x)) // TODO: Ideally the catalog is pre-sorted
                {
                    <li>
                        <ApiIcon Kind="@child.Kind" /> <a href="/catalog/@child.Guid">@child.Name</a>
                    </li>
                }
            </ul>
        </li>
    </ul>
</div>
