@inherits LayoutComponentBase
@using ApiCatalogWeb.Services;
@inject CatalogService CatalogService

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">.NET API Catalog</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <NavLink class="nav-link" href="/catalog" Match="NavLinkMatch.All">
                Browse
            </NavLink>
        </ul>
    </div>
</nav>

<div class="nofocus" @ref="_bodyDiv" @onkeydown="KeyDown" tabindex="0">
    @Body

    <ApiSearch @ref="_apiSearch" OnClose="() => _bodyDiv.FocusAsync()"></ApiSearch>
</div>

<hr />

@if (CatalogJobInfo != null)
{
    <div class="container-fluid">
        @if (CatalogJobInfo.Success)
        {
            <span class="mr-1 oi oi-circle-check text-success"></span>
        }
        else
        {
            <span class="mr-1 oi oi-circle-x text-danger"></span>
        }

        @if (string.IsNullOrEmpty(CatalogJobInfo.DetailsUrl))
        {
            @CatalogJobInfo.Date.Date.ToShortDateString()
        }
        else
        {
            <a href="@CatalogJobInfo.DetailsUrl">@CatalogJobInfo.Date.Date.ToShortDateString()</a>
        }
    </div>
}

@code {
    private ElementReference _bodyDiv;
    private ApiSearch _apiSearch;

    public CatalogJobInfo CatalogJobInfo { get; set; }

    protected override async Task OnInitializedAsync()
    {
        CatalogJobInfo = await CatalogService.GetJobInfoAsync();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await _bodyDiv.FocusAsync();
    }

    private async Task KeyDown(KeyboardEventArgs e)
    {
        if (e.Key == "/")
        {
            if (_apiSearch.IsOpen)
                await _apiSearch.Close();
            else
                await _apiSearch.Open();
        }
        else if (e.Key == "Escape")
        {
            await _apiSearch.Close();
        }
    }
}